.wrapModal {
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    background: rgba(0,0,0,0.8);

}
.bg {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal {
    /* position: absolute;
    top:0;
    display: flex; 
    justify-content: center;
    align-items: center;
    
    margin: auto;
    
     */

    position: fixed;
    background-color: wheat;
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modalBox {
    margin-top: 150px;
}

.Btn {
    margin-top: 30px;
}
.closeBtn, .signUpBtn {
    margin-left: 50px;
    width: 70px;
    height: 30px;
    border: 0;
    background-color: darkgrey;
    
}