.container {
    background-color: coral;
    /* background-image: url("../img/sexy.jpg"); */
    width: 1950px;
    height: 750px;
    display:flex;
    position:relative;

}
.img1 {
    position:absolute;
    width: 1950px;
    height: 750px;
}
.menu {
    background-color: black;
    width: 100%;
    height: 110px;
    opacity: 70%;
    margin:0;
}
.info{
    float:left;
}
.item{
    float:left;
}

.logoutBtn {
    background-color: cornflowerblue;
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: 10px;
    left: 200px;
    cursor: pointer;
}